<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask03</title>

     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

   
    <style>
        h1, h2 {
            text-align: center;
            /* border-top: 30px solid blue; */
        background-color: rgb(150, 215, 255);
        /* margin-left: 150pt; */
        margin-right: 200pt;
        margin-left: 200pt;
        }
        body{
            /* background-color: rgb(211, 180, 180); */
            text-align: center;
            margin-top: 200pt;
        }

    </style>
</head>
<body>
    <h1>Juvenaldo Florentino Canja</h1>

    <p>
        Rua Prof. Raimundo Vítor <br>
        Fortaleza, CE <br>
        Tel. (85) 997822831
        email: batchijuve@gmail.com
    </p>
    <h2>CARGO DE INTERESSE</h2>
    <p>. Caixa de loja ou supermercado</p>
    <h2>FORMAÇÃO ACADEMICA</h2>
    <p>. Eng. Agrônomo</p>
    
    <h2>EXPERIENCIA PROFISSIONAL</h2>
    <h4>UFC</h4>
    <p>Estágio a docêndcia</p>
    
    <h4>CAMPO</h4>
    <p>Agricultura de precisão</p>
    <p>Automação e controle</p>

    <h2>APERFEIÇOAMENTO</h2>
    <p>Curso de Data Science - Infinity School</p> <br>
    <p>English Course - CCB</p>
    <p>Full Stack - Youth Space</p>

    <h2>HABILIDADES</h2>
    <p>Proativo, responsável, auto-didata, pontual, disciplina</p>

    <footer>
        @ Contas: 
        <a href=""></a>
    </footer>
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>



</body>
</html>